In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
dataset = pd.read_csv("C:/Users/Hp/OneDrive/Desktop/customersfile.csv")
dataset.head(2)

   Customer_id First_name last_nme                      email  address_id
0          1.0       Mary    Smith       mary_smith@gmail.com           5
1          2.0    Patrica  Johnson  patrica_johnson@gmail.com           6